*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
}
.container{
    max-width: 66vw;
    padding: 2rem 1 rem;
    margin: 0 auto;
}
.header_container{
   margin-bottom: 2.5rem; 
}
.header_title{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight:bolder;
    text-align: center;
}
.header_desc{
    text-align: center;
    color: rgb(91, 83, 83);
    margin: 0 auto;
    max-width: 555px;
}
.main_container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4,1fr);
}
@media (max-width:650px){
    .main_container{
        grid-template-columns: repeat(2,1fr);
    }
}


.card_container{
    display: flex;
    flex-direction: column; 
    border: 1px solid rgb(123, 115, 115);
    border-radius: 10px;
}
.card_image_container{
    position: relative; 
    overflow: hidden; 
    height: 14rem;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute; 
    height: 100%;
    width: 100%;
}
.card_title_container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card_container:hover .card_image{
    transform: scale(1.2);
    transition-duration: 200ms;
}
.card_title{
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.5rem;
    color: rgb(66, 57, 57);
    margin-bottom: 1rem;
}
.card_title_anchor :hover .card_title{
    color: rgb(167, 18, 18);
}
.card_desc{
    color: rgb(120, 107, 107);
    font-size: 1rem;
}
.card_footer_container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.author_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author_avatar_container{
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    border: 1px solid rgb(255, 214, 214);
    border-radius: 50%;
    background-color: rgb(178, 178, 178);
}
.author_info_container{
    display: flex;
    flex-direction: column;
}
.author_name{
    color: blue;
}
.author_descp{
    color: orange ;
}
.card_tag_container{
    font-size: 0.9rem;
    border: 1px solid yellowgreen;
    border-radius: 2rem;
    line-height: 5rem;
    padding: 0.25rem 0.5rem;
    color: grey;
}