div{
    height: 200px;
    width: 200px;
    font-size: 30px;
    background-color: aqua;
    border: 2px solid black;
    transform: rotate(45deg);
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 2s ease-in;  /*Shorthand*/
}
div:hover{
    transform: translateY(400px);
}